.footer-message {
  font-size: 1.55rem;
  font-weight: 450;
  color: rgb(245, 245, 245);
  text-align: center;
  padding-block: 3.2rem;
}

@media (max-width: 800px) {
  .footer-message {
    font-size: 1.725rem;
  }
}
